<% content_for :devise_form do %>

  <h2 class="pt-4 mb-8 text-4xl font-bold heading dark:text-gray-100 transition duration-500">Sign up</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    
    <div class="input-group">
      <%= f.label :email, class:"label dark:text-gray-100 transition duration-500" %>
      <%= f.email_field :email, autocomplete: "email", class:"input dark:text-gray-700 dark:bg-gray-200 transition duration-500" %>
    </div>

    <div class="input-group">
      <div class="flex">
        <%= f.label :password, class: "label dark:text-gray-100 transition duration-500" %>
        <% if @minimum_password_length %>
          <span class="pl-1 text-xs text-grey-dark dark:text-gray-100 transition duration-500"><em>(<%= @minimum_password_length %> characters minimum)</em></span>
        <% end %>
      </div>
      <%= f.password_field :password, autocomplete: "new-password", class: "input dark:text-gray-700 dark:bg-gray-200 transition duration-500" %>
    </div>

    <div class="input-group">
      <%= f.label :password_confirmation, class:"label dark:text-gray-100 transition duration-500" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input dark:text-gray-700 dark:bg-gray-200 transition duration-500" %>
    </div>

    <div class="input-group">
      <%= f.submit "Sign up", class: "btn btn-default" %>
    </div>

    <hr class="mt-6 border" />

  <% end %>

  <%= render "devise/shared/links" %>

<% end %>

<%= render "devise/shared/form_wrap" %>
