<div class="max-w-7xl mx-auto mt-16 text-center">
  <h1 class="mb-4 text-4xl font-black">Table of cryptocurrencies</h1>
  <%= button_to 'Price Update', crypto_update_path, method: :post, class: "bg-green-400 hover:bg-green-500 text-gray-800 font-bold py-2 px-4 rounded inline-flex items-center" %>
</div>

<div class="max-w-7xl mx-auto mt-12">
<div>
  <table class="table-auto">
    <thead>
      <tr>
        <th></th>
        <th scope="col">Rank</th>
        <th scope="col">Crypto</th>
        <th scope="col" class="text-center">Symbol</th>
        <th scope="col">Slug</th>
        <th scope="col" class="text-right pr-4">Price (€)</th>
        <th scope="col">CMC #id</th>
        <th scope="col">Last Update</th>
      </tr>
    </thead>
    <tbody>
    <% @currencies.order('rank ASC').each do |crypto| %>
      <tr>
        <td><img style="width:35px;" src=<%= crypto.logo %>></td>
        <td><%= crypto.rank %></td>
        <td><a href="<%= currency_path(crypto.slug) %>"><%= crypto.name %></a></td>
        <td class="text-center"><%= crypto.currency_symbol %></td>      
        <td><%= crypto.slug %></td>
        <td class="text-right"><%= crypto.price.round(4) %></td>
        <td><%= crypto.id_CMC %></td>
        <td><%= crypto.updated_at.strftime('%H:%M:%S le %d.%m.%y') %></td>
      </tr>
    <% end%>
</tbody>
  </table>
</div>
</div>