<div class="max-w-7xl mx-auto mt-16 text-center">
  <h1 class="mb-4 text-4xl font-black">Table of cryptocurrencies</h1>
  <%= button_to 'Price Update', crypto_update_path, method: :post, class: "bg-green-400 hover:bg-green-500 text-gray-200 font-bold py-2 px-4 rounded inline-flex items-center" %>
</div>

<div class="mx-auto max-w-7xl flex w-8/12 mt-12">
  <div>
    <table class="shadow-lg bg-white">
      <thead>
        <tr>
          <th class="bg-blue-100 border text-left px-2 py-4" ></th>
          <th class="bg-blue-100 border text-left px-2 py-4"  scope="col">Crypto</th>
          <th class="bg-blue-100 border text-left px-2 py-4"  scope="col">Symbol</th>
          <th class="bg-blue-100 border text-left px-2 py-4"  scope="col">Price (€)</th>
        <% if user_signed_in? %>
          <th class="bg-blue-100 border text-left px-2 py-4"  scope="col">Portfolio Amount</th>
          <th class="bg-blue-100 border text-left px-2 py-4"  scope="col">Portfolio Total USD</th>
        <% end %>
          <th class="bg-blue-100 border text-left px-2 py-4"  scope="col">Last Update</th>
        </tr>
      </thead>
      <tbody>
      <% @currencies.order('rank ASC').each do |crypto| %>
        <tr>
          <td class="border px-2 py-4"><img style="width:35px;" src=<%= crypto.logo %>></td>
          <td class="border px-2 py-4"><a href="<%= currency_path(crypto.slug) %>"><%= crypto.name %></a></td>
          <td class="border px-2 py-4"><%= crypto.currency_symbol %></td>      
          <td class="border px-2 py-4"><%= crypto.price.round(4) %></td>
        <% if user_signed_in? %>
          <td class="border px-2 py-4"><%= @current_user.portfolio.crypto_amount(crypto.name).round(5) %></td>
          <td class="border px-2 py-4"><%= @current_user.portfolio.crypto_total_price(crypto.name).round(5) %></td>
        <% end %>
          <td class="border px-2 py-4"><%= crypto.updated_at.strftime('%H:%M:%S le %d.%m.%y') %></td>
        </tr>
      <% end%>
      </tbody>    
    </table>
  </div>
</div>