<div class="max-w-7xl mx-auto mt-16 text-center">
  <h1 class="mb-4 text-5xl font-black">Your cryptocurrencies traces and holding</h1>
  <h2 class="mb-4 text-3xl font-bold text-indigo-600">Your portfolio total value : $ <%= current_user.portfolio.total.round(4) %> (USD)</h2>
  <h3 class="mb-4 text-2xl font-bold text-indigo-600">Your total invested : $ <%= current_user.portfolio.total_invested.round(4) %> (USD)</h3>

  <%= link_to new_purchase_path, class: "bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded inline-flex items-center" do %>
    <i class="fa fa-plus mr-2 my-2"></i><span> Add a purchase</span>
  <% end %>

  <h2 class="mt-6 mb-4 text-4xl font-bold text-gray-600">Your 10 last purchases</h2>

  <div class="mx-auto max-w-7xl flex w-9/12 mt-12">
    <div>
      <table class="shadow-lg bg-white">
        <thead>
          <tr>
            <th class="bg-blue-100 border text-left px-8 py-4"></th>
            <th class="bg-blue-100 border text-left px-8 py-4" scope="col">Crypto</th>
            <th class="bg-blue-100 border text-left px-8 py-4" scope="col">Price</th>
            <th class="bg-blue-100 border text-left px-8 py-4" scope="col">Number</th>
            <th class="bg-blue-100 border text-left px-8 py-4" scope="col">Purchase Date</th>
            <th class="bg-blue-100 border text-left px-8 py-4" scope="col">Total Amount</th>
          </tr>
        </thead>
        <tbody>
        <% @purchases.order('purchasedate').each do |purchase| %>
          <tr>
            <td class="border px-8 py-4"><img style="width:35px;" src=<%= Currency.find_by('name':purchase.crypto).logo%>></td>
            <td class="border px-8 py-4"><a href="<%= currency_path(Currency.find_by("name": purchase.crypto).slug) %>"><%= purchase.crypto %></a></td>
            <td class="border px-8 py-4"><%= purchase.price.round(4) %></td>
            <td class="border px-8 py-4"><%= purchase.number %></td>
            <td class="border px-8 py-4"><%= purchase.purchasedate.strftime('%H:%M:%S le %d.%m.%y') %></td>
            <td class="border px-8 py-4"><%= (purchase.number * purchase.price).round(6) %></td>
          </tr>
        <% end%>
          <tr>
            <td class="px-8 py-2">
              <%= link_to "See all.. (#{current_user.portfolio.purchases.count})", purchases_path %>
            </td>
          </tr>
        </tbody>     
      </table>
    </div>
  </div>
  
</div>